/* @import './styles/style.css'; */

:root {
	--primary: blue;
}

html {
	font-size: 20px;
}

div.wa ~ span {
	color: var(--primary);
}

li.sib ~ li {
	color: blue;
}

p,
h2 {
	font-style: italic;
}

/* ul li:first-child {
    text-decoration: underline;
}
ul li:last-child {
    text-decoration: line-through;
}

ul li:nth-last-child(3) {
    color: green;
}  */

div h4:only-child {
	text-decoration: underline;
}

ul li:nth-of-type(2n) {
	background-color: red;
}

span:only-of-type {
	text-decoration: underline;
}

div.wa::before {
	content: 'hero hamada';
	background: red;
}

div.wa::after {
	content: 'hero hamada';
	background: red;
}

div.hero {
	position: relative;
	width: 200px;
	height: 200px;
	background-color: blue;
	content: "herlllll";
	overflow: scroll;
	resize: horizontal;
}

div.hero h2 {
	position: sticky;
	top: 0px;
	background-color: green;
}
div.grid-container {
	display: grid;
	/* grid-template-columns: 2fr 1fr; */
	/* grid-template-rows: repeat(3, 200px); */
	grid-auto-rows: 100px;
	grid-template-areas: "header header" "sidebar rightcontent" "leftcon maincon rightcon";
	grid-gap: 10px;
	background-color: #2196f3;
	padding: 10px;
}

.grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
}

.item1 {
	grid-area: header;
}

.item2 {
	grid-area: sidebar;
}
