@import "./variable";

html {
	font-size: 16px;
}
body {
	background-color: $primary;
	font-style: italic;
	font-size: 1em;
}

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

div {
	@include flexCenter(column);
	// display: flex;
	// justify-content: center;
	// align-items: center;
}

div.wala{
	font: {
		family: italic;
		size: 50px;
		weight: 100;
	}
}

p {
	@extend div.wala 
}